# Spotify Developer App Credentials
# Create an app at https://developer.spotify.com/dashboard
# Set Redirect URI to: http://127.0.0.1:3000/api/spotify/callback
SPOTIFY_CLIENT_ID=
SPOTIFY_CLIENT_SECRET=
SPOTIFY_REDIRECT_URI=http://127.0.0.1:3000/api/spotify/callback

# Coding & Social Handles
CODOLIO_USER_KEY=Raghav2910
GITHUB_USERNAME=RaghavGupta2910
LEETCODE_USERNAME=raghavgupta2910
CODEFORCES_HANDLE=raghavgupta291024
